@page "/puzzles/{roomId:int}/{roomName}"
@inherits PuzzlesBase

@using Models.DTOs


@if (Puzzles == null)
{
	<h3>Loading Puzzles...</h3>
}
else
{
	<h3 class="mb-5">Puzzles for @roomName</h3>

	var puzzleCount = Puzzles.Count();

	<a href="/newpuzzle/@roomId/@roomName" class="btn btn-primary">Add a Puzzle to @roomName</a>

	@if (puzzleCount > 0)
	{
		const int itemsPerRow = 1;
		var puzzleRowList = new List<PuzzleDto>();

		@for (int i = 0; i < puzzleCount; i++)
		{
			puzzleRowList = Puzzles.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();

			<div class="row mt-3">
				@foreach (var item in puzzleRowList)
				{
					<div class="col-md-10 mb-2">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title mb-2">
									@item.Name
								</h4>
								<p class="card-text">
									@item.Description
								</p>
								<a href="/hints/@item.Id" class="btn btn-primary">Get Hints</a>
							</div>
						</div>
					</div>
				}
			</div>
		}

	}
}