@page "/hints/{puzzleId:int}"
@inherits HintsBase

@using Models.DTOs


@if (Hints == null)
{
	<h3>Loading Hints...</h3>

}
else
{
	<h3 class="mb-5">Hints</h3>

	<a href="#" class="btn btn-primary">Add a Hint to @Puzzle</a>

	var hintCount = Hints.Count();

	@if (hintCount > 0)
	{
		const int itemsPerRow = 1;
		var hintRowList = new List<HintDto>();

		@for (int i = 0; i < hintCount; i++)
		{
			hintRowList = Hints.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();

			<div class="row mt-5">
				@foreach (var item in hintRowList)
				{
					<div class="col-md-10 mb-2">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title mb-2">
									@item.Order
								</h4>
								<p class="card-text">
									@item.Description
								</p>
								<a href="#" class="btn btn-primary">Edit This Description</a>
							</div>
						</div>
					</div>
				}
			</div>
		}

	}
}